 body {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border: 8px solid black;
    height: 960px;
    width: 960px;

}

/* .squared {
    box-sizing: border-box;
    border: 1px solid red;
} */

.hover {
    background-color: blue;
}

button {
    display: block;
    margin: 50px;
    padding: 8px;
    border-radius: 12px;
    background-color: bisque;
}